<div class="static">
		<%= render 'nav' %>
		<div class="container">
			<div class="section">
				<h1>About Us</h1>

				<h2 >Who We Are</h2>

					<p>TrailMix is an application about you as much as it is about nature. It's about getting away and bringing things back to basics.</p>

					<p>Life can become frantic and hectic at times, but </p>

					<p>We're here to instill an appreciation of the natural world to people everywhere, because at the heart of it all, we too are creatures of our environment</p>

				<h2>How To Use Our Site</h2>
					<p>Simply city or area of your choosing and we find the closest, and most popular trails close to that area. Whether it be for mountain biking, hiking, snow sports, or just a simple stroll, we've got you covered.</p>

					<p>Once the search is made, the results are displayed and when you click the details of those results, Instagram Tags associated with the trail pop up to show you others who have trekked along the same path. </p>

					<p>Google Maps & weather will also display to kindly give you directions and show the forecast before embarking on your activity.</p>



				<h2>Our Team</h2>
					<ul>
						<li><h3>Calvin Liu</h3></li>
						<li><h3>Steven Gordon</h3></li>
						<li><h3>Jeryl Barnum</h3></li>
					</ul>
			</div>

			<%= render 'footer' %>

	</div>
</div>
        